<div class="modal-body">
  <form *ngIf="!auth.currentUser; else alreadyLoggedIn" class="form-horizontal" accept-charset="utf-8">
    <fieldset>
      <legend>Social Login</legend>
      <input class="btn btn-success" (click)="signInWithGoogle()" type="submit" value="Connect Google"/>
      <input class="btn btn-success" (click)="signInWithGithub()" type="submit" value="Connect Github"/>
      <input class="btn btn-success" (click)="signInWithFacebook()" type="submit" value="Connect Facebook"/>
      <input class="btn btn-success" (click)="signInWithTwitter()" type="submit" value="Connect Twitter"/>
      <br>
      <br>
      <legend>Anonymous Login</legend>
      <input class="btn btn-success" (click)="signInAnonymously()" type="submit" value="Connect Anonymously"/>
    </fieldset>
  </form>
</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template>





