<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" rel="stylesheet" crossorigin="anonymous">

<div class="modal-body">
  <form *ngIf="!auth.currentUser; else alreadyLoggedIn" class="form-horizontal" accept-charset="utf-8">
    <fieldset>
      <legend><b>Connectez vous via un réseau social</b></legend>
        <a class="btn btn-block btn-social btn-google" (click)="signInWithGoogle()" type="submit">
          <span class="fa fa-google"></span> Connectez vous avec Google
        </a>
        <a class="btn btn-block btn-social btn-facebook" (click)="signInWithFacebook()" type="submit">
          <span class="fa fa-facebook"></span> Connectez vous avec Facebook
        </a>
        <a class="btn btn-block btn-social btn-github" (click)="signInWithGithub()" type="submit">
          <span class="fa fa-github"></span> Connectez vous avec Github
        </a>
        <a class="btn btn-block btn-social btn-twitter" (click)="signInWithTwitter()" type="submit">
          <span class="fa fa-twitter"></span> Connectez vous avec Twitter
        </a>

      <br>
      <br>
      <legend><b>Connexion Anonyme</b></legend>
      <a class="btn btn-block btn-social btn-reddit" (click)="signInAnonymously()" type="submit">
        <span class="fa fa-user-secret"></span> Connectez vous Anonymement
      </a>
    </fieldset>
  </form>
</div>

<ng-template #alreadyLoggedIn>
  <h3><span class="glyphicon glyphicon-thumbs-up"></span> Bienvenue, vous êtes connecté !</h3>
</ng-template>





