<!--<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>-->

<template #signup>
  <user-form></user-form>
</template>


<template #login>
  <user-login></user-login>
</template>

<header>
  <div class="col-lg-12">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a id="tk-xs-main-title" class="navbar-brand visible-xs" routerLink="">A l'affiche</a>
          <a id="tk-xs-main-title" class="navbar-brand visible-xs" routerLink="upcoming">A venir</a>
          <a id="tk-xs-main-title" class="navbar-brand visible-xs" routerLink="popular">Les plus populaires</a>
          <a id="tk-xs-main-title" class="navbar-brand visible-xs" routerLink="toprated">Les mieux notés</a>
          <a id="tk-xs-main-title" class="navbar-brand visible-xs" routerLink="search">Retrouver un film</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left active_menu">
            <li routerLink=""><a>A l'affiche</a></li>
            <li routerLink="upcoming"><a>A venir</a></li>
            <li routerLink="popular"><a>Les plus populaires</a></li>
            <li routerLink="toprated"><a>Les mieux notés</a></li>
            <li routerLink="search"><a>Retrouver un film</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li class="hidden-xs">
              <div class="btn-group" style="padding: 8px;">

                <a href="#" class="btn btn-info"
                   role="button"><span class="glyphicon glyphicon-user"></span>
                </a>
                <a (click)="openModal(login)" class="btn btn-default poplight" data-width="500" data-rel="popup1" role="button">Log in</a>
                <a (click)="openModal(signup)" class="btn btn-default poplight" data-width="500" data-rel="popup2"
                   role="button">Sign up</a>

              </div>
            </li>


            <!-- <li><a href="../navbar-static-top/">Static top</a></li>
                            <li class="active"><a href="./">Fixed top</a></li> -->
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>  <!-- Ici se trouve l'élément menu -->
</header>
