<footer>
  <div class="container">
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a>Contacter nous</a></span>

      	<a href="mailto:cuisinier@et.esiea.fr" class="col-xs-12">CUISINIER Clement</a>
      	<a href="mailto:iancu@et.esiea.fr" class="col-xs-12">IANCU Raphael</a>
      	<a href="mailto:tnguyen@et.esiea.fr" class="col-xs-12">NGUYEN Thanh Tam</a>
      	<a href="mailto:rachedi@et.esiea.fr" class="col-xs-12">RACHEDI Zakaria</a>
      	<a href="mailto:asoumare@et.esiea.fr" class="col-xs-12">SOUMARE Ahmed</a>

    </div>
    <div class="col-xs-12 col-md-6 tk-footer">
      <span class="tk-title col-xs-12"><a href="https://www.esiea.fr/">Informations</a></span>
      <a class="col-xs-12">Projet de programmation web - ESIEA 2018<br>
      Blog avec les films les plus récents, à venir, à l'affiche et plus encore !
      Vous pouvez retrouver des films que vous avez perdu de vu avec la fonction recherche.
      Pour discuter, veuillez vous connecter pour accéder au chat instantané.</a>
    </div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a>Où nous trouver</a></span>
      <a href="https://github.com/CuisinierClement/projetWeb2018" target="_blank" class="col-xs-12">GitHub du projet</a>
      <a href="https://trello.com/b/p5ff8lQ3/projetweb" target="_blank" class="col-xs-12">Trello du projet</a>
      <a href="http://filmo.riancu.com/doc-filmo.pdf" target="_blank" class="col-xs-12">Documentation</a>
    </div>
    <div style="clear: both;"></div>
    <p>Copyright @ 2017 FILMO | Tous droits réservés.</p>
  </div>
</footer>
