<footer>
  <div class="container">
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="mailto:clement.cuisinier@gmail.com">CONTACT</a></span>

      	<a href="mailto:clement.cuisinier@gmail.com" class="col-xs-12">CUISINIER Clement</a>
      	<a href="mailto:clement.cuisinier@gmail.com" class="col-xs-12">IANCU Raphael</a>
      	<a href="mailto:clement.cuisinier@gmail.com" class="col-xs-12">NGUYEN Thanh Tam</a>
      	<a href="mailto:clement.cuisinier@gmail.com" class="col-xs-12">RACHEDI Zakaria</a>
      	<a href="mailto:clement.cuisinier@gmail.com" class="col-xs-12">SOUMARE Ahmed</a>

    </div>
    <div class="col-xs-12 col-md-6 tk-footer">
      <span class="tk-title col-xs-12"><a href="https://www.esiea.fr/">INFORMATIONS</a></span>
      <a href="#" class="col-xs-12">Projet de programmation web - ESIEA 2018</a>
    </div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="https://github.com/CuisinierClement/projetWeb2018">SIGNALER UN BUG</a></span>
      <a href="https://github.com/CuisinierClement/projetWeb2018">GitHub du projet</a>
    </div>
    <div style="clear: both;"></div>
    <p>Copyright @ 2017 FILMO | Tous droits réservés.</p>
  </div>
</footer>
