<footer>
  <div class="container">
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="#">CONTACT</a></span>
      <a href="#" class="col-xs-12">A PROPOS</a></div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="#">INFORMATIONS</a></span>
      <a href="#" class="col-xs-12">MENTIONS LEGALES</a>
      <a href="#" class="col-xs-12">PARTENAIRES</a>
    </div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="#">NOUS SUIVRE</a></span>
      <a href="#"><img src="../assets/images/fac.png" alt="facebook"/></a>
      <a href="#"><img src="../assets/images/twi.png" alt="twitter"/></a>
      <a href="#"><img src="../assets/images/goo.png" alt="google plus"/></a>
      <a href="#"><img src="../assets/images/you.png" alt="youtube"/></a></div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="#">SIGNALER UN BUG</a></span>
      <a href="#" class="col-xs-12">FORUM</a></div>
    <div style="clear: both;"></div>
    <p>Copyright © 2013-2017 Theukid | Tous droits réservés.</p>
  </div>
</footer>
