<div class="col-md-12 col-sm-12">
  <div class="back-white col-xs-12" style="float: none;">
    <div class="row">
      <div id="title" class="col-xs-12">
        <div class="row"><span class="trame col-xs-12"></span></div>
        <h1 style="margin: 2px;" class="col-xs-12">{{ item.genres.name }}</h1>
        <h4 style="margin: 2px;" class="col-xs-12">Info - February 10, 2016, 11:05 pm</h4>
      </div>
      <div id="content" class="col-md-10 col-md-offset-1">
        <div class="col-xs-12">
          <div class="row separator">
            <div class="corps-article text-enrichi-default">
              <p>{{ item | async | json }}</p>

              <p><img alt="" src="http://giffiles.alphacoders.com/150/15009.gif" style="height:291px; width:540px"></p>

              <p>&nbsp;</p>

              <div class="images"><a class="xXx capsule-img big-image"
                                     href="http://www.jeuxvideo.com/screenshots/515523-2268117-0" target="_blank"><img
                alt="Dragon Ball Xenoverse 2, des combats qui font plaisir"
                src="http://image.jeuxvideo.com/medias-md/146885/1468850340-6231-artwork.png"
                title="Dragon Ball Xenoverse 2, des combats qui font plaisir"></a></div>

              <p>Rappelez-vous, en février 2015, nous disions de <a href="http://www.jeuxvideo.com/jeux/jeu-82620/">Xenoverse</a>
                que sa partie la plus décevante était finalement les combats, qui manquaient un peu de pêche et
                souffrait surtout d'un vrai problème d'équilibrage. Ce qui ne l'avait pas empêché de recueillir, malgré
                tout, la note de 15/20. À en croire la note moyenne attribuée par les lecteurs de Jeuxvideo.com, l'avis
                était partagé. Ainsi donc, pour faire mieux que le premier épisode, il fallait aux développeurs de Dimps
                (<a href="http://www.jeuxvideo.com/jeux/jeu-61254/">Dragon Ball Z Budokai 1</a>, <a
                  href="http://www.jeuxvideo.com/jeux/jeu-61940/">2</a> et <a
                  href="http://www.jeuxvideo.com/jeux/playstation-2-ps2/00012836-dragon-ball-z-budokai-3.htm">3</a>)
                mettre les bouchées doubles sur la partie «&nbsp;combat&nbsp;» du jeu, et faire en sorte qu'ils soient
                plus proches de ceux proposés par, à tout hasard, la série des Tenkaichi. Lors de Japan Expo, nous avons
                donc pu nous y essayer. À vrai dire, la démo mise à disposition était assez limitée puisqu'elle
                permettait uniquement d'affronter l'ordinateur ou un second joueur dans des affrontements directs, avec
                juste quelques personnages disponibles. Mais il ne nous en fallait pas plus pour nous rassurer, puisque
                notre petite demi-heure de jeu a su nous prouver que le jeu avait des arguments à faire valoir. Ou au
                moins un, et pas des moindres.</p>

              <h2>Des combats beaucoup plus dynamiques</h2>

              <p>C'est la vraie bonne nouvelle de cette preview&nbsp;: en jouant à Dragon Ball Xenoverse 2, nous avons
                eu l'impression fugace mais agréable de jouer à ce qu'aurait pu être Tenkaichi 4, s'il avait existé.
                Comprenez par là que l'on retrouve un jeu de combat Dragon Ball Z dans de vastes arènes, partiellement
                destructibles, dans lesquelles les personnages sont capables de se déplacer assez librement, à des
                vitesses et des altitudes différentes. Une formule connue des fans de DBZ depuis le tout premier <a
                  href="http://www.jeuxvideo.com/jeux/playstation-2-ps2/00014362-dragon-ball-z-budokai-tenkaichi.htm">Tenkaichi</a>,
                paru en 2005.</p>

              <div class="images"><a class="xXx capsule-img moit-image"
                                     href="http://www.jeuxvideo.com/screenshots/487766-2259587-0" target="_blank"><img
                alt="" src="http://image.jeuxvideo.com/medias-sm/146594/1465939595-7035-capture-d-ecran.png"></a><a
                class="xXx capsule-img moit-image" href="http://www.jeuxvideo.com/screenshots/487766-2259590-0"
                target="_blank"><img alt=""
                                     src="http://image.jeuxvideo.com/medias-sm/146594/1465939595-9005-capture-d-ecran.png"></a>
              </div>

              <p>Il se trouve néanmoins qu'après le troisième et dernier opus (non, Ultimate Tenkaichi n'existe toujours
                pas, navré), les différents studios qui ont travaillé sur la série n'ont jamais vraiment réussi à
                trouver la formule magique inventée par Spike pour proposer des combats aussi dynamiques, dans lesquels
                se déplacer n'est pas une corvée, où frapper son adversaire se fait au petit bonheur la chance. Le
                premier Xenoverse n'était pas loin d'y parvenir, mais c'était sans compter sur la mollesse de la
                bande-son et de nombreuses imperfections qui entachaient l'expérience de jeu. <strong>Avec Xenoverse 2,
                  on retrouve avec un plaisir non coupable l'impression de vitesse et de puissance qui émanait des
                  personnages des trois Tenkaichi</strong>. Celles des combattants du monde de Dragon Ball, en fait. Les
                Tenkaichi avaient cela de grand qu'ils nous permettaient de revivre à la perfection (ou presque)
                l'incroyable dynamisme des combats de la série animée. Un tour de force que parvient à accomplir
                Xenoverse 2, presque 10 ans après <a href="http://www.jeuxvideo.com/jeux/jeu-65952/">Tenkaichi 3</a>.
              </p>

              <p>Les déplacements sont autrement plus précis que dans le premier épisode. Les téléportations
                fonctionnent beaucoup mieux et permettent de placer des contres particulièrement violents, ou même de
                suivre un ennemi après une projection, pour l'envoyer valdinguer dans une autre direction. Les
                enchaînements proposent une belle variété de coups, la plupart tirés des animations du dessin animé, et
                surtout bénéficient enfin d'une bande-son digne de ce nom. Ce qui n'était pas forcément gagné puisque le
                précédent Xenoverse nous donnait parfois le sentiment de frapper dans des sacs de sable.</p>
              <a class="xXx " href="http://www.jeuxvideo.com/screenshots/487766-2266047-0" target="_blank"><img
                alt="Dragon Ball Xenoverse 2, des combats qui font plaisir"
                src="http://image.jeuxvideo.com/medias-sm/146789/1467885714-3278-capture-d-ecran.jpg"></a>

              <p>La téléportation de Janemba est franchement classe.</p>

              <p>C'est avec un certain plaisir que l'on a ainsi retrouvé Son Goku, Janemba, Gogeta, Thalès, Slug, mais
                également le Trunks version Xenoverse ou encore le petit Goku de Dragon Ball GT. Tous bénéficiaient d'un
                moveset directement repris de l'animé. On a tout de même été assez surpris de voir que Goku pouvait se
                transformer directement en Super Saiyen 3, sans même pouvoir passer par le stade Super Saiyen. Son
                Ryu-Ken est particulièrement impressionnant, puisque le jeu, sans être une claque graphique, propose des
                effets de lumière plutôt séduisants. Mention spéciale pour le Stardust Breaker de Gogeta, ou encore les
                téléportations de Janemba, directement reprises du film, et qui le font réapparaitre à l'écran sous
                forme de petits cubes se mêlant les uns les autres. Autant vous dire que sur le plan visuel, le jeu est
                particulièrement fidèle à l’œuvre original. À noter que pour revivre le combat final du 12ème film, les
                artistes n'ont pas hésité à créer un stage «&nbsp;Enfer&nbsp;» qui reproduit chacun des éléments aperçus
                dans <em>Fusion</em>.</p>

              <p>Le Stardust Breaker de Gogeta est toujours aussi élégant.</p>

              <div class="images"><a class="xXx capsule-img big-image"
                                     href="http://www.jeuxvideo.com/screenshots/487766-2266040-0" target="_blank"><img
                alt="Dragon Ball Xenoverse 2, des combats qui font plaisir"
                src="http://image.jeuxvideo.com/medias-md/146789/1467885713-70-capture-d-ecran.jpg"
                title="Dragon Ball Xenoverse 2, des combats qui font plaisir"></a></div>

              <h2>Quelques imperfections</h2>

              <p>S'il semble aller dans la bonne direction, Xenoverse porte toujours en son sein quelques tares de son
                aîné. On retrouve toujours ce système assez peu lisible pour les super attaques, qui vous demandent de
                maintenir presser L2, ou L2 et R2 pour faire apparaître en surbrillance un petit panneau vous affichant
                les possibilités que vous offre votre réserve de ki. Un détail qui peut parfois faire perdre de
                précieuses secondes, notamment lorsque l'on souhaite contrer une attaque, ou effectuer un combo.</p>
              <a class="xXx " href="http://www.jeuxvideo.com/screenshots/487766-2266032-0" target="_blank"><img
                alt="Dragon Ball Xenoverse 2, des combats qui font plaisir"
                src="http://image.jeuxvideo.com/medias-sm/146789/1467885713-4174-capture-d-ecran.jpg"></a>

              <p>Foncer sur son ennemi est plus aisé que dans le premier Xenoverse.</p>

              <p>On aura également noté qu'il est parfois inutile de contre-attaquer, notamment après une téléportation.
                Imaginez&nbsp;: vous incarnez Goku et menez un terrible combat face à Janemba. La situation est critique
                mais vous avez confiance en vos capacités&nbsp;: un Super Saiyen de niveau 3, ça ne fait pas rigoler les
                mouettes&nbsp;! Le monstre s'apprête à vous attaquer avec toute la force de ses poings, et au moment où
                il commence son enchaînement de coups, vous vous téléportez dans son dos, prêt à lui malaxer ses
                lombaires. C'est là que le souci intervient&nbsp;: alors que le monstre porte plusieurs coups dans le
                vide, pris dans son élan, <strong>il s'avère qu'il est impossible de le frapper, ou du tout du moins de
                  lui infliger des dégâts. Il faut attendre la fin de son combo pour pouvoir l'attaquer</strong>. Bug
                étrange ou véritable parti pris des développeurs, difficile à dire mais autant vous dire que l'on en
                trouve pas ça franchement pertinent.</p>

              <p>Dernière chose, si les déplacements sont plus précis qu'auparavant, on note encore quelques soucis,
                notamment lorsque les deux combattants ne sont pas à la hauteur. Il suffit parfois qu'un ennemi soit 30
                cm plus haut, ou 30 cm plus bas, et les coups partent dans le vide, avec un combattant tournant bêtement
                autour de l'autre. Ce qui est forcément assez désagréable.</p>

              <div class="images"><a class="xXx capsule-img"
                                     href="http://www.jeuxvideo.com/screenshots/487766-2259591-0" target="_blank"><img
                alt="" src="http://image.jeuxvideo.com/medias-sm/146594/1465939595-3116-capture-d-ecran.png"></a><a
                class="xXx capsule-img" href="http://www.jeuxvideo.com/screenshots/487766-2266039-0"
                target="_blank"><img alt=""
                                     src="http://image.jeuxvideo.com/medias-sm/146789/1467885713-7681-capture-d-ecran.jpg"></a><a
                class="xXx capsule-img" href="http://www.jeuxvideo.com/screenshots/487766-2266048-0"
                target="_blank"><img alt=""
                                     src="http://image.jeuxvideo.com/medias-sm/146789/1467885714-9544-capture-d-ecran.jpg"></a>
              </div>

              <p>Notez néanmoins que la démo présentée à Japan Expo était loin d'être parfaite puisque certaines inputs
                ne fonctionnaient tout simplement pas&nbsp;; cela nous avait été confirmé par Bandai Namco sur place,
                qui était bien conscient des défauts de cette version. On imagine que d'ici la sortie du jeu, de
                nombreux éléments devraient être corrigés.</p>

              <div class="bloc-critique">
                <div class="titre-critique">Nos impressions</div>

                <div class="resume-critique">Voilà une surprise qui fait plaisir. Si les combats de Dragon Ball
                  Xenoverse ne nous avaient pas entièrement convaincus, sa suite devrait, semble-t-il, remédier au
                  problème. Plus dynamiques, plus vifs, et donc plus fidèles au dessin animé, les affrontements de
                  Xenoverse 2 ont réussi à nous amuser et c'est presque avec regret que nous avons dû abandonner la
                  manette. En retrouvant des sensations que nous pensions disparues depuis Dragon Ball Z Tenkaichi 3,
                  cette démo de Xenoverse 2 nous a mis l'eau à la bouche, et n'augure que du bon pour ce nouvel opus.
                  Reste à voir si les autres sections du jeu seront à la hauteur.
                </div>
              </div>

              <div class="bloc-critique">
                <div class="bloc-avis-testeur">
                  <div class="avatar"><a class="xXx " href="http://www.jeuxvideo.com/profil/epyon?mode=page_perso"><img
                    alt="Profil de Epyon"
                    src="http://image.jeuxvideo.com/avatar-md/e/p/epyon-1468848092-72c611acfdefed3d098e493b5a588dc0.jpg">
                  </a></div>

                  <div class="infos-auteur">
                    <div class="auteur">L'avis de Epyon
                      <div class="bloc-contact-auteur"><a class="xXx picto-contact-mp"
                                                          href="http://www.jeuxvideo.com/messages-prives/nouveau.php?all_dest=Epyon"
                                                          title="MP">MP </a> <a class="xXx picto-contact-twitter"
                                                                                href="https://twitter.com/Epyonzilla"
                                                                                title="Twitter"> Twitter </a></div>
                    </div>

                    <div class="statut">Journaliste jeuxvideo.com</div>

                    <div class="date">18 juillet 2016 à 16:16:34</div>
                  </div>

                  <div class="impression"><img src="http://www.jeuxvideo.com/img/contenu/apercu/4.png"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="disqus_thread">
          <iframe id="dsq-app2479" name="dsq-app2479" allowtransparency="true" frameborder="0" scrolling="no"
                  tabindex="0" title="Disqus" width="100%"
                  src="https://disqus.com/embed/comments/?base=default&amp;f=theukid&amp;t_i=34&amp;t_u=http%3A%2F%2Fserver.rachedizakaria.fr%2Fposts%2Fview%2F34&amp;t_d=Dragon%20Ball%20Xenoverse%202%2C%20des%20combats%20qui%20font%20plaisir&amp;t_t=Dragon%20Ball%20Xenoverse%202%2C%20des%20combats%20qui%20font%20plaisir&amp;s_o=default#version=f64af707d24453c18e3365ee3ec42966"
                  style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 530px !important;"
                  horizontalscrolling="no" verticalscrolling="no"></iframe>
        </div>  <!-- Ici se trouve le contenu de la vue généré -->
      </div>
    </div>
  </div>
</div>
