  <div class="col-md-12 col-sm-12">
  <div class="back-white col-xs-12" style="float: none;">
    <div class="row">
      <div id="title" class="col-xs-12">
        <div class="row"><span class="trame col-xs-12"></span></div>
        <h1 style="margin: 2px;" class="col-xs-12">{{ title }}</h1>
        <h4 style="margin: 2px;" class="col-xs-12">Date de sortie - {{ release_date }}</h4>
        <h4 style="margin: 2px;" class="col-xs-12" *ngIf="runtime">Durée du film - {{runtime}} min</h4>
      </div>
      <div id="content" class="col-md-10 col-md-offset-1">
        <div class="col-xs-12">
          <div class="row separator">
            <div class="corps-article text-enrichi-default">
              <div class="box-body">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <img class="img-responsive pad" src="http://cf2.imgobject.com/t/p/w300/{{poster_path}}">
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12">
                  <br>
                  <table class="table table-responsive">
                    <tbody><tr>
                      <td><b>Titre Originel</b></td>
                      <td>{{original_title}}</td>
                    </tr>
                    <tr *ngIf="production_companies!=''">
                      <td><b>Productions</b></td>
                      <td>
                        <li *ngFor="let prod of production_companies">{{prod.name}}</li>
                      </td>
                    </tr>
                    <tr *ngIf="genres!=''">
                      <td><b>Genres</b> </td>
                      <td>
                       <li *ngFor="let genre of genres">{{genre.name}}</li>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Résumé</b> </td>
                      <td align="justify">{{overview}}</td>
                    </tr>
                    <tr *ngIf="pourcent">
                      <td><b>Rentabilité</b></td>
                      <td>Ce film a remporté <b>{{pourcent | number:'1.0-0'}} %</b> du budget initial investit</td>
                    </tr>
                    <tr *ngIf="vote_average">
                      <td><b>Note</b></td>
                      <td><b>{{vote_average}}</b>/10 sur {{vote_count}} votes</td>
                    </tr>
                  </tbody></table>
                  <br>        
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>