<!--<script type="text/javascript">-->
  <!--console.log("Document ready 1");-->
  <!--//  $(document).ready(function () {-->
  <!--var objDiv = document.getElementById("window-chat");-->
  <!--console.log(objDiv.scrollTop);-->
  <!--console.log(objDiv.scrollHeight);-->
  <!--console.log(objDiv.clientHeight);-->
  <!--//    objDiv.scrollTop = objDiv.scrollHeight;-->
  <!--objDiv.scrollTop = objDiv.scrollHeight - objDiv.clientHeight;-->
  <!--//    alert("test");-->
  <!--console.log("Document ready");-->
  <!--//  });-->
<!--</script>-->
<script type="text/javascript">
  window.ready = function () {
    var objDiv = null;
    if (objDiv != null) {
      $(".objDiv").animate({scrollTop: $(document).height()}, "slow");
      //        $(".objDiv").scrollTop = objDiv.scrollHeight;
    } else {
      console.log("ch element window-chat not found");
    }
  }
</script>
<div *ngIf="(user | async)?.uid">
  <h3 style="color:white;  font-family: Consolas"><span class="glyphicon glyphicon-comment"></span> Chat Room</h3>

    <div id="window-chat" style="overflow-y: scroll; height:200px">
      <div class="chat-container" *ngFor="let item of items | async" >
        <a href="#">{{item.name}}</a>
        <p>{{item.message}}</p>
      </div>
    </div>

    <input type="text" id="message"  *ngIf="(user | async)?.uid" placeholder="Type your message here..."
           (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />


</div>

<!--<div class="col-md-8 col-md-offset-2">
<!--<div class="chat-window-container">-->
<!-- <div class="">
   <div class="panel-container">
     <div class="panel panel-default">

       <div class="panel-heading top-bar">
         <div class="panel-title-container">
           <h3 class="panel-title">
             <span class="glyphicon glyphicon-comment"></span>
             <!-- Chat - {{currentThread.name}}-->
<!--        </h3>
      </div>
      <div class="panel-buttons-container">
        <!-- you could put minimize or close buttons here -->
<!--       </div>
     </div>

     <div class="panel-body ">
       <!--<chat-message
         *ngFor="let message of messages | async"
         [message]="message">
       </chat-message> -->
<!--       <div class="chat-container" *ngFor="let item of items | async">
         <a href="#">{{item.name}}</a>

         <p>{{item.message}}</p>
       </div>
     </div>

     <div class="panel-footer">
       <div class="input-group">
         <!--<input type="text"
                class="chat-input"
                placeholder="Write your message here..."
                (keydown.enter)="onEnter($event)"
                [(ngModel)]="draftMessage.text" />
         <span class="input-group-btn">
         <button class="btn-chat"
                 (click)="onEnter($event)"
         >Send</button>-->
<!--       <input type="text" id="message"  *ngIf="(user | async)?.uid" placeholder="Type your message here..."
               (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />
    </span>
    </div>
  </div>

</div>
</div>
</div>
</div>
-->
