<!DOCTYPE html>

<html>
<head>
  <!-- Rendre compatible avec les smartphones -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!-- Ici on génère la meta d'encodage par defaut UTF-8 car le champ est vide -->
  <!-- Ici le TITRE est modifiable en fonction de ce qui est envoyé par le controleur ! -->
  <title>Bienvenue</title>
  <link href="/favicon.ico" type="image/x-icon" rel="icon"/>
  <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  <script type="text/javascript"
          src="http://gc.kis.v2.scr.kaspersky-labs.com/CCABB565-1436-2549-8493-47933DCED28A/main.js"
          charset="UTF-8"></script>
</head>

<body>
<app-navbar></app-navbar>

<section class="container">
  <!-- Ici se trouve l'élément de slider -->
  <div class="row">
    <div class="col-lg-12">
      <!-- Ici on affiche le message flash si il y en a -->
      <div class="row">
        <div class="col-sm-12">
          <!--<h1></h1>-->
          <nav class="hidden-xs">
            <ul>
              <li>
                <a href="/"><span>Les derniers articles</span></a></li>
              <li>
                <a href="/posts/index/3"><span>Les Tests</span></a></li>
              <li>
                <a href="/posts/index/4"><span>Les découvertes du moment</span></a></li>
              <li>
                <a href="/"><span>Les perles :D</span></a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-md-9 col-sm-12">
          <div id="content">
            <modal></modal>

            <!-- Ici, nous bouclons sur le tableau $post afin d'afficher les informations des posts -->
            <div class="row">
              <router-outlet></router-outlet>

              <div class="paging col-xs-12">
                <div class="box-footer clearfix" style="text-align: center">
                  <ul class="pagination pagination-sm no-margin">
                    <li class="disabled"><a>prev</a></li>
                    <li class="active"><a>1</a></li>
                    <li><a href="/posts/index/page:2">2</a></li>
                    <li><a href="/posts/index/page:3">3</a></li>
                    <li><a href="/posts/index/page:4">4</a></li>
                    <li class="next"><a href="/posts/index/page:2" currentClass="disabled" rel="next">next</a></li>
                  </ul>
                </div>
              </div>
            </div>  <!-- Ici se trouve le contenu de la vue généré -->
          </div>

        </div>
        <aside class="col-md-3 col-sm-12">
          <div class="row">
            <div class="col-xs-12 tk-mostview">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12" id="th-h3view">
                    <div class="row">
                      <div class="col-xs-3">
                        <img src="/img/felyne_mostview.gif" alt="theukid felyne"/></div>
                      <div class="col-xs-9">
                        <h3>Les plus lus, miaouu !</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 tk-bordermostview">
                  <div class="row">
                    <a href="/posts/view/34">
                      <div class="row tk-hoverview">
                        <div class="col-xs-4">
                          <img src="/img/dofus1.jpg" alt="theukid felyne"/></div>
                        <div class="col-xs-8">
                          <h4>Flash Info ! Lorem Ipsum bas do rum</h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12 tk-bordermostview">
                  <div class="row">
                    <a href="/posts/view/33">
                      <div class="row tk-hoverview">
                        <div class="col-xs-4">
                          <img src="/img/dofus1.jpg" alt="theukid felyne"/></div>
                        <div class="col-xs-8">
                          <h4>FLash Info ! Lorem Ipsum bas do rum</h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <!-- Ici se trouve l'élément de navigation droit -->
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="/posts/contact">CONTACT</a></span>
      <a href="/posts/contact" class="col-xs-12">à PROPOS</a></div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="/posts/contact">INFORMATIONS</a></span>
      <a href="/posts/contact" class="col-xs-12">MENTIONS LéGALES</a> <a href="/posts/contact" class="col-xs-12">PARTENAIRES</a>
    </div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="/posts/contact">NOUS SUIVRE</a></span>
      <a href="/recipes/view/6"><img src="/img/footer/fac.png" alt="facebook"/></a><a href="/recipes/view/6"><img
      src="/img/footer/twi.png" alt="twitter"/></a><a href="/recipes/view/6"><img src="/img/footer/goo.png"
                                                                                  alt="google plus"/></a><a
      href="/recipes/view/6"><img src="/img/footer/you.png" alt="youtube"/></a></div>
    <div class="col-xs-12 col-md-3 tk-footer">
      <span class="tk-title col-xs-12"><a href="/posts/contact">SIGNALER UN BUG</a></span>
      <a href="/posts/contact" class="col-xs-12">FORUM</a></div>
    <div style="clear: both;"></div>
    <p>Copyright © 2013-2017 Theukid | Tous droits réservés.</p>
  </div>
</footer>
<script id="dsq-count-scr" src="//theukid.disqus.com/count.js" async></script>
</body>
</html>
