<div *ngFor="let film of _filmsArray">
  <div class="col-md-6 col-sm-6">
    <div class="thumbnail">
        <a routerLink="/film/{{film.id}}" routerLinkActive="active">
        <div class="imgcontainer">
            <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}"/>
        </div>
        </a>
        <div class="caption" style="min-height: 226px;">
        <h3 class="col-xs-12">
            <<div class="col-xs-3 row"><img src="../assets/images/felyne_mostview.gif" width="42px" height="42px" class="img-thumbnail" alt=""/></div>
            <div class="col-xs-10 row">
            <a  routerLink="" routerLinkActive="active">{{ film.title || 'missing title' }}</a>
            <p class="col-xs-12">Date de sortie - {{ film.release_date }}</p>
            </div>
        </h3>
        <p>
            {{ film.overview | slice:0:375 }}...
        </p>
        </div>
    </div>
  </div>
</div>
